@{
    ViewData["Title"] = "Push Notification Demo";
}
<h2>@ViewData["Title"]</h2>


<button id="push-btn" type="button" class="btn btn-primary">Push now!</button>

@section Scripts {
    <script src="~/js/push.js" asp-append-version="true"></script>
}