@{ ViewData["Title"] = "Push Notification Demo"; }

<header>
    <h2>@ViewData["Title"]</h2>
</header>

<main>
    <p>
        <button id="toggle-btn" type="button" class="btn btn-primary">Push now!</button>
    </p>

    <section class="subscription-details js-subscription-details is-invisible">
        <p>Once you've subscribed your user, you'd send their subscription to your server to store in a database so that when
            you want to send a message you can lookup the subscription and send a message to it.</p>
        <pre class="js-subscription-json"></pre>

        <form id="push-message-form">
            <input type="hidden" id="subscription">
            <div class="form-group">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="message" class="form-label">Message</label>
                <textarea name="message" id="message" class="form-control" placeholder="Something to send here"></textarea>
            </div>

            <button type="button" class="btn btn-primary" onclick="pushMessage({ url: '@Url.RouteUrl("PushMessage")' })">Send</button>
            <button type="button" class="btn btn-primary" onclick="pushMessage({ url: '@Url.RouteUrl("PushMessage")', withActions: true })">Send + Actions</button>
        </form>
    </section>

</main>

@section Scripts {
<script src="~/js/push.js" asp-append-version="true"></script>
}